name = "hehir"
main = "build/index.js"
compatibility_date = "2025-11-04"

[build]
command = "cargo install -q worker-build && worker-build --release"

[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = true
